@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using treinamento_mvc.ViewModels
@model List<MovieListViewModel>
@{
    var movieOfTheMonth = new { Rank = 1, Title = "The Shawshank Redemption", Year = 1994 };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=devide-width" />
    <title>Movies</title>
</head>
<body>
    <div>
        <b>Movie of the month: @movieOfTheMonth.Title </b>
        <br />
        <b>Movies List:</b>
        <br />
        <table border="1">
            <tr>
                <th>Rank</th>
                <th>Title</th>
                <th>Year</th>
            </tr>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Rank</td>
                    <td>@movie.Title</td>
                    <td>@movie.Year</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
