@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using MyImdb.ViewModels
@model List<MovieListViewModel>
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=devide-width" />
    <title>Movies</title>
</head>
<body>
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info">
            <p>@ViewBag.Message</p>
        </div>
    }
    <div>
        <span style="font-size: 3em; color: tomato">
            <i class="fa-solid fa-user"></i>
        </span>
        <span style="font-size: 48px; color: dodgerblue">
            <i class="fa-solid fa-camera"></i>
        </span>
        <span style="font-size: 3rem; color: mediumslateblue">
            <i class="fa-brands fa-github-square"></i>
        </span>
        <br />
        <h2>Movies List:</h2>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Title</th>
                    <th scope="col">Year</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model)
                {
                    <tr>
                        <td>@movie.Rank</td>
                        <td>@movie.Title</td>
                        <td>@movie.Year</td>
                    </tr>
                }
            </tbody>
        </table>

        <a asp-action="Create">Create Movie</a>
    </div>
</body>
</html>
