@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="form-group">
        <span style="font-size: 48px">
            <i style="color: tomato" class="fa-solid fa-film"></i>
            <button type="button" class="btn btn-success" asp-controller="Movie" asp-action="Index">Movies!</button>
        </span>
    </div>
</div>
